h1{
    color: blueviolet;
    text-align: center;
}
h5{
    color: blue;
    text-align: center;
}

img{
    width: 450px;
    height: 450px;
    border-radius: 200px;
    display: block;
    margin: auto;

}

p{
   background-color: blueviolet;
    color: black;
    padding: 50px 50px 30px 40px ;
    margin: 50px 20px 30px 90px;
    font-size: 30px;
}
.last-text{
    text-align: center;
    font-size: large;
    color: black;
    text-decoration: underline;
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
    

}

